parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method DOMNode::getAttribute\(\).#'
        - '#Call to an undefined method Tests\\Macroable::in\(\).#'
        - '#Call to an undefined method NunoMaduro\\LaravelMojito\\TestView::hasCharset\(\).#'
    checkMissingIterableValueType: false
    excludes_analyse:
        - "src/MojitoServiceProvider.php"
