parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method DOMNode::getAttribute\(\).#'
        - '#Call to an undefined method Tests\\AssertIsMacroable::in\(\).#'
        - '#Call to an undefined method NunoMaduro\\LaravelMojito\\ViewAssertion::hasCharset\(\).#'
        - '#Call to an undefined method NunoMaduro\\LaravelMojito\\NotAssertion::#'
    checkMissingIterableValueType: false
    excludes_analyse:
        - "src/MojitoServiceProvider.php"
